.body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(223, 216, 196);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
.board {
  display: flex;
  flex-direction: column-reverse;
}

.board-row {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 680px;
}

.board-cell {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  margin: 4px;
  border-radius: 15px;
  font-size: 19px;
  font-family: sans-serif;
  background-color: rgb(209, 198, 169);
  text-shadow: 1px 1px rgb(203, 174, 120);
}
.tutorial {
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  margin: 4px;
  border-radius: 15px;
  background-color: #4B1A08;
  color: rgb(255, 255, 255);
}

.roll-button {
  color: white;
  width: 150px;
  height: 60px;
  background-color: rgb(132, 118, 70);
  border-radius: 10px;
  border-width: 2px;
  margin-top: 30px;
}
.tutorial-text {

  font-size: 24px;
  font-weight: bold;
}

.yellow {
  background-color: #ffcc00;
}

.purple {
  background-color: #800080;
}

.dice {
  display: flex;
  width: 650px;
  margin: 50px auto;
  gap: 5px;
}

.side {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  border: 1.5px solid #ffffff;
  color: rgb(255, 255, 255);
  /* background-color: rgb(205, 185, 149); */
  background-color: rgb(141, 100, 24);
  border-radius: 10px;
}

